# basic

In [99]:
print("hello world")

hello world

In [100]:
#checkin comments

In [101]:
a=1

In [102]:
type(a)

int

In [103]:
a=1.7

In [104]:
type(a)

float

In [105]:
a=1+6j

In [106]:
type(a)

complex

In [107]:
a="ankit"

In [108]:
type(a)

str

In [109]:
a='e'

In [110]:
type(a)

str

In [111]:
a="ankit"
print(a)
a='ankit sharma'
print(a)
a='''ankit sharma
is a good man'''
print(a)

ankit
ankit sharma
ankit sharma
is a good man

In [112]:
a=0
_a=9

SyntaxError: invalid decimal literal (3863906254.py, line 1)

# operator(+,-,*,/,//,%)

In [ ]:
a=10
b=21
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print("%0.4f"%(a/b))

31
-11
210
0.47619047619047616
0
0.4762

### multi variable assingnment

In [ ]:
a,b,c=10,20,30.6
print(a,b,c)

10 20 30.6

# control flow statement

### 1.conditional statement

In [ ]:
a=5
b=9
if(a>b):
  print(a-b)
else:
  print(b-a)

4

In [ ]:
a=8
if(a>0):
    print("positive")
elif(a==0):
    print("a is zero")
else:
    print("negative")

positive

### looping statements

In [ ]:
a=0
while a<11:
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in "ankit":
    print(i)

a
n
k
i
t

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(2,7):
    print(i)

2
3
4
5
6

# operators and expressions

### 1.arithmetic operator

In [ ]:
3+2

5

In [ ]:
3-2

1

In [ ]:
3*3

9

In [ ]:
5/3

1.6666666666666667

In [ ]:
5//3

1

In [ ]:
5%3

2

### 2.comparison operator

In [ ]:
3>1

True

In [ ]:
4<=7

True

In [ ]:
5>=5

True

In [ ]:
5<=2

False

In [ ]:
3^5

6

In [ ]:
5!=5

False

In [ ]:
"abc"=="ABc"

False

In [ ]:
'abc'=='bca'#lecicographically comparison

False

In [ ]:
ord("a")

97

### 3.assignment operator

In [ ]:
a=6
a*=6
print(a)

36

In [ ]:
a=2
a**=3#use as power of a^3
print(a)

8

### 4.logical operator

###### work on boolean algebra

In [ ]:
a=True

In [ ]:
isinstance(i,int)

True

In [ ]:
type(True)

bool

In [ ]:
5+True

6

In [ ]:
2 and 3

3

In [ ]:
4 or 3

4

In [ ]:
not 3

False

In [ ]:
5 and 0

0

In [ ]:
5 and 1

1

# FUNCTIONS

In [ ]:
def sheldon_knock():
    print("knock knock knock Ankit ")
    print("knock knock knock Ankit ")
    print("knock knock knock Ankit ")

In [ ]:
sheldon_knock()

knock knock knock Ankit
knock knock knock Ankit
knock knock knock Ankit

### take parameter

In [ ]:
def sheldon_knocks(name,numberOfTime=3):
    for i in range(numberOfTime):
        print("knock knock knock {}".format(name))

### call function

In [ ]:
sheldon_knocks("hi",7)

knock knock knock hi
knock knock knock hi
knock knock knock hi
knock knock knock hi
knock knock knock hi
knock knock knock hi
knock knock knock hi

In [ ]:
def add(a,b):
    return (a+b)

In [ ]:
x=add(3,5)
print(x)

8

In [ ]:
def div(c,d):
    try:
        return c/d
    except:
        print("error")
    finally:
        print('wrapping-up')
        # return 0

In [ ]:
div(10,3)

wrapping-up

3.3333333333333335

## local and variable

In [ ]:
x=12
def show():
    global x
    x+=5
    print(x)

In [ ]:
show()
print(x)

17
17

In [ ]:
del x

In [ ]:
def outer():
    x=5
    def inner():
       nonlocal x
       x+=5
       print(x)
    inner()
    print(x)

In [ ]:
outer()

10
10

### argument

In [ ]:
# def abc(a,b,c,d=10,e=20):

In [ ]:
def show(a,b,c,d="something",e="more"):
    print(a)
    print(b)
    print(c)
    print(d)
    print(e)

In [ ]:
show("hello","world","python",e="ankit")

hello
world
python
something
ankit

In [ ]:
show(b="hello",c="world",a="python")#keyword argumenjt

python
hello
world

In [ ]:
print("ankit","is","a","good")

ankit is a good

In [ ]:
def show(a,b,c,d,*args):
    print(args)

In [ ]:
show(1,2,3,4,"ankit")

('ankit',)

In [ ]:
def show(a,b,c,*args,d=100,e=20,**kwargs):
    print(a)
    print(args)
    print(d)
    print(e)
    print(kwargs)

In [ ]:
show(1,2,3,4,5,"ankit",d=10,name="aditya")

1
(4, 5, 'ankit')
10
20
{'name': 'aditya'}

## lambda function

In [ ]:
def add(a,b):
    return a+b

In [ ]:
add = lambda a,b: a+b #lambda function single line

In [ ]:
add(1,2)

3

In [ ]:
a=[("ankit",1),("aditya",5),("piyush",3),("ayush",2)]

In [ ]:
sorted(a,key=lambda x:x[1])

[('ankit', 1), ('ayush', 2), ('piyush', 3), ('aditya', 5)]

## decorators

In [ ]:
users={
    "ankit":"pass",
    "aditya":"word"
}

In [ ]:
def show(username,password):
    if username in users and users[username]==password:
        print("hello world")
    else:
        print("not exist")

In [ ]:
show("ankit","word")

not exist

In [ ]:
def add(username,password,a,b):
     if username in users and users[username]==password:
        print(a+b)
     else:
        print("not exist")

In [ ]:
add('ankit','paass',6,8)

not exist

In [ ]:
def LoginRequired(func):
    def wrapper(username,password,*args,**kwargs):
        if username in users and users[username]==password:
            func(*args,**kwargs)
        else:
            print("not authenticated")
    return wrapper

In [ ]:
def add(a,b):
    print(a+b)
add=LoginRequired(add)

In [ ]:
@LoginRequired
def add(a,b):
    print(a+b)

In [ ]:
add("ankit","pass",1,5)

6

In [ ]:
def add(a,b):
    print(a+b)

In [ ]:
pro_add=LoginRequired(add)

In [ ]:
pro_add("ankit",'pqass',5,8)

not authenticated

### args and kwargs

In [ ]:
def fun(*args):
    print(*args)
    print(type(args))


fun(1,2,3,'ankit')

1 2 3 ankit
<class 'tuple'>

In [ ]:
def fun(**kwargs):
    print(kwargs)
    
fun(name="ankit")

{'name': 'ankit'}

# DATA STRUCTURE

## strings

In [ ]:
a="ankit"

In [ ]:
print(a)

ankit

In [ ]:
a='ankit'

In [ ]:
print(a)

ankit

In [ ]:
a='''
this is
multiline string 
'''

In [ ]:
print(a)

this is
multiline string

In [ ]:
ord("a")#return ascii value

97

In [ ]:
chr(97)#return ascii's value

'a'

### operation on string

In [ ]:
a="ankit"

In [ ]:
a="ankit"
b=2
c=3

In [ ]:
print(str(a),"-",str(b),"+",str(c))

ankit - 2 + 3

In [ ]:
print("%d-%d+%d"%(a,b,c))

TypeError: %d format: a real number is required, not str

In [ ]:
print("{1}-{0}+{2}".format(a,b,c))

2-ankit+3

In [ ]:
print("{last} {first}".format(first="ankit",last="sharma"))

sharma ankit

In [114]:
first="ankit"
last="sharma"
print(f"{first} {last}")

ankit sharma

In [4]:
a=input("enter")
print(a)

In [2]:
a = "yes"

In [3]:
a.strip()=="yes"

True

In [5]:
a=(1,2,3,4,5,6)

In [6]:
a.split(' ')

AttributeError: 'tuple' object has no attribute 'split'

In [7]:
a="ankit"

In [8]:
a[0]=1

TypeError: 'str' object does not support item assignment

In [10]:
a.replace('i','1')

'ank1t'

In [11]:
a.count('a')

1

## list

In [13]:
a=[1,2,3,4,5]

In [14]:
a

[1, 2, 3, 4, 5]

In [15]:
a[2]

3

In [16]:
len(a)

5

In [17]:
b=[6,7,8,9]

In [18]:
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
a*4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [20]:
6 in a

False

In [21]:
5 in a

True

In [23]:
for i in b:
    print(i)

6
7
8
9

In [24]:
a[-2]

4

In [28]:
a[1:4]

[2, 3, 4]

In [27]:
a[1:5:2]

[2, 4]

In [29]:
a[::-1]#reversing element

[5, 4, 3, 2, 1]

In [30]:
a="nitin"

In [31]:
a==a[::-1] #checking palindrome

True

In [33]:
a=[1,2,34,5,5,6,7]

In [34]:
a.insert(1,"ankit")

In [35]:
a

[1, 'ankit', 2, 34, 5, 5, 6, 7]

In [36]:
a.append("ankit")

In [37]:
a

[1, 'ankit', 2, 34, 5, 5, 6, 7, 'ankit']

In [38]:
a.pop()

'ankit'

In [39]:
a

[1, 'ankit', 2, 34, 5, 5, 6, 7]

In [40]:
a.remove(1)

In [41]:
a

['ankit', 2, 34, 5, 5, 6, 7]

In [47]:
a

NameError: name 'a' is not defined

In [50]:
a=[1,2,9,1,5]

In [49]:
a

[1, 2, 3, 4, 5, 'ankit']

In [51]:
sorted(a)

[1, 1, 2, 5, 9]

In [52]:
a.sort()

In [53]:
a

[1, 1, 2, 5, 9]

In [56]:
for i in reversed(a):
    print(i)

9
5
2
1
1

In [57]:
a

[1, 1, 2, 5, 9]

In [58]:
a.reverse()

In [59]:
a

[9, 5, 2, 1, 1]

## tuples

In [1]:
a={1,2,3,4,5,6}

In [2]:
a

{1, 2, 3, 4, 5, 6}

In [3]:
a[0]=4

TypeError: 'set' object does not support item assignment

In [4]:
a

{1, 2, 3, 4, 5, 6}

In [9]:
def fun(*args):
    print(args)

In [10]:
fun(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [12]:
a={1,2}

In [13]:
a=1,2

In [14]:
type(a)

tuple

In [15]:
a

(1, 2)

In [20]:
c=a

In [21]:
c

(1, 2)

In [18]:
d

2

In [25]:
a=6
b=7

In [26]:
b,a=a,b

In [27]:
print(a,b)

7 6

### coversion

In [31]:
a=(1,2,3,4)

In [32]:
type(a)

tuple

In [33]:
a=list(a)

In [34]:
type(a)

list

In [37]:
a=tuple(a)

In [38]:
type(a)

tuple

In [39]:
def addSUB(a,b):
    return a+b,a-b

In [41]:
sum , diff=addSUB(9,7)

In [42]:
sum

16

In [43]:
diff

2

## DICTIONARY

In [44]:
a=[1,2,3,4]

In [45]:
a[3]

4

In [47]:
a={
    "name":"ankit",
    "marks":78,
    "subs":["eng","hin","math"],
    "friend":{"ankit":"college"}
}

In [48]:
a["name"]

'ankit'

In [49]:
a["friend"]

{'ankit': 'college'}

In [50]:
for i in a:
    print(i)

name
marks
subs
friend

In [52]:
for i,j in a.items():
    print(i,"=>",j)

name => ankit
marks => 78
subs => ['eng', 'hin', 'math']
friend => {'ankit': 'college'}

In [54]:
for i in a.keys():
    print(i)

name
marks
subs
friend

In [55]:
for i in a.values():
    print(i)

ankit
78
['eng', 'hin', 'math']
{'ankit': 'college'}

In [57]:
a.get("name")

'ankit'

In [59]:
a["name"]

'ankit'

In [60]:
a["name2"]

KeyError: 'name2'

In [58]:
a.get("name2")

In [62]:
a.clear()

In [63]:
a

{}

## SETS

In [3]:
a={1,3,4,2}

In [4]:
a

{1, 2, 3, 4}

In [6]:
b={1,2,3,47}

In [5]:
2 in a

True

In [7]:
a.union(b)

{1, 2, 3, 4, 47}

In [8]:
a-b

{4}

In [11]:
for i in a:
    print(i)

1
2
3
4

In [12]:
a={1,2,4,3,2,1,4}

In [13]:
a.__len__()

4

In [14]:
a=[1,2,3,4,3,2,1,4]

In [15]:
list(set(a))

[1, 2, 3, 4]

## COMPREHENSION

In [16]:
a=[]
for i in range(10):
    a.append(i**2)

In [17]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### list comprehension

In [19]:
[i**2 for i in range(10) if i%2==0 ]

[0, 4, 16, 36, 64]

### dict comprehension

In [20]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### set comprehension

In [21]:
{i**2 for i in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [23]:
a=(i**2 for i in range(10))#touple not psbl

In [24]:
a

# OPPS

In [25]:
class person:
    pass
p=person()
print(p)

<__main__.person object at 0x7fa41c0eb650>

In [26]:
id(p)

140342822090320

In [27]:
hex(id(p))

'0x7fa41c0eb650'

## DUNDERS OR MAGIC FXN

In [41]:
class person:
    
    def __init__(self,name):
        self.name=name 
    # name="ankit"
        
    def sayHi(self):
        print("hello,my name is ",self.name)

In [45]:
p=person("ankit")
p.sayHi()
person.sayHi(p)

hello,my name is  ankit
hello,my name is  ankit

In [46]:
class car:
    def __init__(self,model,mileage):
        self.model=model
        self.mileage=mileage
        
    def __str__(self):
        return ("{} {}".format(self.model,self.mileage))
    
    def __repr__(self):
        return ("{}",format(self.model))
    
    def __eq__(self,other):
        return self.mileage==other.mileage
    
    def __add__(self,other):
        return self.mileage+other.mileage

In [47]:
c1=car("x",45)
c2=car("y",90)

In [48]:
c1+c2

135

In [49]:
c1==c2

False

In [50]:
str(c1)

'x 45'

In [53]:
repr(c1)

TypeError: __repr__ returned non-string (type tuple)

In [55]:
class ostream:
    def __lshift__(self,other):
        print(other,end=' ')
        return self

In [59]:
cout = ostream()
cout<<"ankit"<<"sharma"

ankitsharma

In [67]:
class Dog:
    kind='canine'
    
    def __init__(self,name):
        self.name=name

In [68]:
a=Dog("hi")

In [69]:
a.kind

'canine'

In [71]:
b=Dog("oo")

In [72]:
b.kind="kill"

In [66]:
a.kind

'kill'

In [85]:
class Dog:
    def __init__(self,name):
        self.name=name
        self.tricks=[]
        
    def addTricks(self,tricks):
        self.tricks.append(tricks)

In [86]:
a=Dog("mike")

In [87]:
b=Dog("rose")

In [88]:
a.addTricks("talk")
a.addTricks("walk")

In [89]:
a.tricks

['talk', 'walk']

In [90]:
b.tricks

[]

In [101]:
class schoolMem:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        print("schoolMem:{}".format(self.name))
    
    def tell(self):
        '''tell my details'''
        print('name:"{}" age:"{}"',format(self.name,self.age),end=" ")

In [102]:
class teacher(schoolMem):
    def __init__(self,name,age,salary):
        schoolMem.__init__(self,name,age)
        self.salary=salary
        print('school teacher:"{}"'.format(self.name))
        
    def tell(self):
        schoolMem.tell(self)
        print('salary:"{}"'.format(self.salary))

In [103]:
class student(schoolMem):
    def __init__(self, name, age,marks):
        schoolMem.__init__(self,name, age)
        self.marks=marks
        print('school student:"{}"'.format(self.name))
        
    def tell(self):
        schoolMem.tell(self)
        print('marks:"{}"'.format(self.marks))

In [104]:
t=teacher("ak",25,50000)
s=student("as",18,78)

schoolMem:ak
school teacher:"ak"
schoolMem:as
school student:"as"

In [106]:
 class a:
     x=10

In [107]:
class b(a):
    pass

In [108]:
class c(b):
    x=5

In [110]:
class d(c):
    pass

In [113]:
class e(d,b):
    pass

In [115]:
e.x

5

In [116]:
e.__mro__

(__main__.e, __main__.d, __main__.c, __main__.b, __main__.a, object)

# FILE HANDLING

### opening a file

In [122]:
file=open("hello.txt",'r')

In [123]:
file.read(4)

'hell'

### closing a file

In [124]:
file.close()

### writing in a file

In [125]:
file=open("hello.txt",'w')

In [126]:
file.write("hello from my side")

18

In [128]:
file.close()

In [151]:
file=open("hello.txt",'r')

In [147]:
file.read()

'hello babe !\nhello from my side\nhow are you babe!\nfine'

In [152]:
file.readline()

'hello babe !\n'

In [153]:
file.readlines()

['hello from my side\n', 'how are you babe!\n', 'fine']

In [154]:
file.read()

''

In [155]:
file=open("hello.txt",'r')

In [156]:
file.read(5)

'hello'

In [157]:
file.read()

' babe !\nhello from my side\nhow are you babe!\nfine'

In [159]:
file.seek(0)

0

In [160]:
file.read()

'hello babe !\nhello from my side\nhow are you babe!\nfine'

In [161]:
file.close()

## JSON

In [5]:
import json

In [8]:
with open("data.json",'r') as file:
    # print(file.read())
    d=json.load(file)
    print(d["name"])

ankit

In [9]:
with open("data.json",'r') as file:
   data=file.read()
   print(data)
   d=json.loads(data)
   print(d)

{
    "name":"ankit",
    "marks":"90",
    "sub":"math"
}
{'name': 'ankit', 'marks': '90', 'sub': 'math'}

In [10]:
d= {'name': 'ankit', 'marks': '90', 'sub': 'math'}

In [12]:
string=json.dumps(d)

In [13]:
print(type(string))

<class 'str'>

In [14]:
with open ("data2",'w') as file:
    json.dump(d,file)

  # exception  and error

In [16]:
def div(a,b):
    print(b/a)

In [18]:
div(0,78)

ZeroDivisionError: division by zero

In [19]:
def div(a,b):
    try:
        print(a/b)
    except:
        print("error")

In [20]:
div(12,0)

error

In [21]:
div(12,6)

2.0

In [22]:
print(12/0)

ZeroDivisionError: division by zero

In [27]:

try:
        print(10/0)
except ZeroDivisionError:
        print("you are trying to divide by zero")

you are trying to divide by zero

In [29]:
a=int("ankit")

ValueError: invalid literal for int() with base 10: 'ankit'

In [30]:
try:
        a=int("an")
except ZeroDivisionError:
        print("you are trying to divide by zero")

ValueError: invalid literal for int() with base 10: 'an'

In [32]:
try:
        a=int("an")
except ZeroDivisionError:
        print("you are trying to divide by zero")
except:
        print("something is worng")

something is worng

In [34]:
try:
    print(9/0)
except Exception as e:
    print(str(e))

division by zero

## raise

In [37]:
try:
    raise Exception("just check code ",1,2)
except Exception as e:
    print(e.message)

AttributeError: 'Exception' object has no attribute 'message'

In [45]:
class MyException(Exception):
    def __init__(self,message):
        self.message=message
    def __str__(self):
        return self.message

In [46]:
try:
    raise MyException("some error")
except Exception as e:
    print(e)

some error

In [49]:
try:
    print("hello")
    print(9/0)
except:
    print("okay")
else:
    print("wallah hibibi")
finally:
    print("bye bye world")

hello
okay
bye bye world

In [56]:
def fun():
    try:
        return 1
    except:
        return 2
    else:
        return 3
    finally:
        return 4

In [57]:
fun()

1

- with statement